body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(http://www.sdjgjx.com/up/pc/background%20web.jpg);
}
/* backgroung login */
.harf_bg{
    background-color: white;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50%;
    height: -webkit-fill-available;
}
/* input username or password CSS */
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 24px;
  }

  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 30px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 24px;
  }

  input[type=submit] {
    width: 100%;
    background-color: #b2dfdb;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  input[type=email]:focus {
    border: 3px solid #555;
  }
  
  input[type=password]:focus {
      font-size: 50px;
    border: 3px solid #555;
  }

  input[type=submit]:hover {
    background-color: #00897b;
    color: rgb(255, 255, 255);
  }

  .center_login{
      position: absolute;
      margin: 25%;
      width: 50%;
  }
